name: Deploy to FTP

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # server-dir: /public_html/  # CHANGE THIS: The folder on your server (e.g., /www/ or /public_html/)
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/terminals/**
            .gitignore
            README.md
            .github/**
            data-changes/**

